= partial :facebook_load_php
!!!
%html
  %head
    %meta{:content => "Disco Panther merge disco and funk for a dance floor thumping party! This incredible 10-piece funk group who will whip the dance floor into a frenzy. ", :name => "description"}/
    %meta{:content => "disco, funk, Swansea, Cardiff, band, music, wedding, party, south, wales", :name => "keywords"}/
    %meta{:content => "Mark Dawson", :name => "author"}/
    %meta{:charset => "utf-8"}/

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    / Use title if it's in the page YAML frontmatter
    %title= data.page.title || "Disco Panther"

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}

    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"

  %body{:class => page_classes}
    #header
      %h1#main-heading
        Disco Panther
      %ul#menu
        %li#menu-fb
          %a{:href => "http://www.facebook.com/discopanther", :target => "_blank"} Facebook Page
        %li#menu-twitter
          %a{:href => "http://twitter.com/itsdiscopanther", :target => "_blank"} Twitter Page
        %li#menu-soundcloud
          %a{:href => "https://soundcloud.com/discopanther-1", :target => "_blank"} Soundcloud Page
        - %w( index band gigs media gallery).each_with_index do |page,index|
          %li{:id => "menu-#{index+1}", :class => ( current_page.path == "#{page}.html") ? "selected" : ""}
            = link_to page, "/#{page}.html", :class => 'menuitem'
        %li#menu-6{:class => ( current_page.path == "contact.html") ? "selected" : ""}
          = link_to "contact", "/contact.php", :class => 'menuitem'
    #current
    #content
      = yield
    .clearboth
    #footer